body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--background);
}

:root {
  --color-main: #69247C;
  --background: #111111;
  --text: #f9f9f9;
}

header {
  background-color: #111111;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 2px solid var(--text);
}

header .wrapper a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

main .wrapper {
  padding: 2rem;
}

.container {
  padding: 1rem 0;
}

section .title-section {
  color: var(--text);
  margin-bottom: 1rem;
  margin-top: 0;
}

section hr {
  margin-bottom: 24px;
}

.char-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.char-item {
  background: var(--background);
  padding: 1rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--text);
  transition: all .3s ease-in-out;
}

.char-item .char {
  text-align: center;
  margin-bottom: 1rem;
}

.char span {
  font-size: 30px;
  line-height: 34px;
  color: var(--text);
}

.char__description {
  text-align: center;
}

.char__description div {
  display: inline;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text);
}

.char__example {
  text-align: center;
  margin: 1rem 0;
}

.char__example p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text);
  margin-top: 0;
}

.char__example img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

footer {
  padding: 1rem 0;
  text-align: center;
  border-top: 2px solid var(--text);
}

footer .foot-information {
  color: var(--text);
  margin: 0;
}

.foot-information a {
  color: var(--text);
  text-decoration: none;
}

header .wrapper a:hover {
  color: var(--color-main);
}

.char-item:hover {
  transform: scale(.95);
  border-color: var(--color-main);
  box-shadow: 0 3px 2rem var(--color-main);
}